<html>
<body>
<h3>Bonjour ${user.firstName} ${user.name},</h3>

Vous avez effectué une demande de réinitialisation de votre mot de passe.<br/>
<br/>
Cliquez sur le lien suivant pour réinitialiser votre mot de passe : <a href="${mailRecoveryUrl}">${mailRecoveryUrl}</a><br/>
<br/>
Si vous n'êtes pas à l'origine de cette demande, aucune action de votre part n'est requise.<br/>
Cordialement,
<br/>
</body>
</html>